<html>
	<head>
		<title>WRATH</title>
		<meta charset="utf8">
		<link rel="shortcut icon" href="img/favicon.png" />
		<link rel="stylesheet" href="less/wrath.css">
		<script src="bower_components/requirejs/require.js" data-main="js/wrath.js"></script>
	</head>
	<body ng-cloak>
		<header class="jumbotron masthead">
			<h1>WRATH</h1>
			<ul>
				<li>WRATH:</li>
				<li>Recursively</li>
				<li>Acronymed</li>
				<li>Test</li>
				<li>Harness</li>
			</ul>
			<fieldset>
				<div>
					<select>
						<option value="0">DEVA</option>
						<option value="1">DEVB</option>
						<option value="2">TEST</option>
						<option value="3">UAT</option>
						<option value="4">RC</option>
						<option value="5">QA</option>
					</select>
				</div>
			    <div>
			    	<input type="text" placeholder="Username">
			    </div>
			    <div>
			    	<input type="password" placeholder="Password">
			    </div>
			  </fieldset>
		</header>
		<div ng-controller="wrathController">
			<div ng-repeat="runner in runners">
				<div ng-controller="runnerController">
					<div class="row-fluid navigation">
						<div class="span4">
							<ul class="nav nav-pills" id="first">
								<li ng-class="{ active: prelude.show }">
									<a href="" ng-click="prelude.show = !prelude.show">Prelude</a>
								</li>
								<li ng-class="{ active: template.show }">
									<a href="" ng-click="template.show = !template.show">Template</a>
								</li>
								<li ng-class="{ active: request.show }">
									<a href="" ng-click="request.show = !request.show">Request</a>
								</li>
								<li ng-class="{ active: response.show }">
									<a href="" ng-click="response.show = !response.show">Response</a>
								</li>
							</ul>
						</div>
						<div class="span4">
							<div class="form-inline">
								<select>
									<option value="0"></option>
									<option value="1">InitAddContact</option>
									<option value="2">AddContact</option>
								</select>
								<button class="btn btn-primary">Load Template</button>
							</div>
						</div>
						<div class="span4">
							<button ng-click="runRequest()" class="pull-right btn btn-primary">Run</button>
							<button ng-click="runTransform()" class="pull-right btn">Transform</button>
						</div>
					</div>
					<div class="row-fluid runners">
						<div ng-class="getWidthClass()" ng-if="prelude.show">
							<textarea ui-codemirror="jsMirrorOptions" ng-model="prelude.value"></textarea>
						</div>
						<div ng-class="getWidthClass()" ng-if="template.show">
							<textarea ui-codemirror="xmlMirrorOptions" ng-model="template.value"></textarea>
						</div>
						<div ng-class="getWidthClass()" ng-if="request.show">
							<textarea ui-codemirror="xmlMirrorOptions" ng-model="request.value"></textarea>
						</div>
						<div ng-class="getWidthClass()" ng-if="response.show">
							<textarea ui-codemirror="xmlMirrorOptions" ng-model="response.value"></textarea>
						</div>
					</div>
					<center><button class="btn" ng-click="remove(runner)">Remove This Call</button></center>
				</div>
			</div>
			<div class="row-fluid">
				<center><button class="btn btn-primary" ng-click="addRunner()">Add Another Call</button></center>
			</div>
		</div>
		<footer>
			<abbr title="One day, everyone you love will die.">&hearts;</abbr>
		</footer>
	</body>
</html>