!= partial("nav")
main#main
  .pills
    ul
      li.active
        a(href='#') Prelude
      li
        a(href='#') Template
      li
        a(href='#') Request
      li
        a(href='#') Response
  .editors
script(src='wrath.js')