a#menuLink.pure-menu-link(href='#menu')
  span
nav#menu.pure-u
  .pure-menu.pure-menu-open
    a.pure-menu-heading(href='#')
      span.wrath-icon
      | WRATH
    ul
      li
        input(type='text', value='USERNAME')
      li
        input(type='text', value='PASSWORDHASH')
      li
        input(type='text', value='http://server/www/Service.svc')
      li
        a(href='#') First Call