<AddContact>
	<Message>
		<ContactRef Value="{{contactRef}}" />
		<PartRef Value="{{partRef}}" />
		{{#ratingNotes}}
		<RatingNote Ref="{{ref}}" Value="{{value}}" />
		{{/ratingNotes}}
	</Message>
</AddContact>